#task1 {
    display:flex;
    align-items: center;
    justify-content: center;
}
input{
  margin: 4px;
}
#message{
   text-align: center;
}
#todo{
  text-align: center;
}
tr{
  text-align: center;
}
td , th{
  border: #000 solid 1px;
}
table{
  border-collapse: collapse;
}